services:

  abstract-base:
    profiles: ['dontuse']
    ports:
      - 8080:8080
    volumes:
      - type: bind
        source: .
        target: /app/public
    extra_hosts:
      - "host.docker.internal:host-gateway"
#     secrets:
#       - server.crt
#       - server.key

  phps:
    extends:
      service: abstract-base
    build:
      context: ./docker-compose/
      dockerfile: Dockerfile.phps

  frankenphp:
    extends:
      service: abstract-base
    build:
      context: ./docker-compose/
      dockerfile: Dockerfile.frankenphp

  openswoole:
    extends:
      service: abstract-base
    build:
      context: ./docker-compose/
      dockerfile: Dockerfile.openswoole



# secrets:
#   server.crt:
#     file: ./secrets/server.crt
#   server.key:
#     file: ./secrets/server.key
